.heroSection {
    background-size: cover;
    background-position: center;
    height: 100vh;
    flex-direction: column;
}

.imgLeft {
    position: absolute;
    bottom: -50px;
    left: -100px;
    width: 38rem;
    height: auto;
    pointer-events: none;
    user-select: none;
    z-index: 0;
}

.imgRight {
    position: absolute;
    bottom: -50px;
    right: -120px;
    width: 38rem;
    height: auto;
    pointer-events: none;
    user-select: none;
    z-index: 0;
}

.imageTitle {
    width: 20rem;
    margin-bottom: 6rem;
}

@media (max-width: 1024px) and (min-width: 576px) {
    .imgLeft {
        width: 34rem;
    }

    .imgRight {
        width: 33rem;
    }
}

@media (min-width: 1536px) {
    .imgLeft {
        bottom: -60px;
        left: -120px;
        width: 45rem;
    }

    .imgRight {
        right: -110px;
        width: 43rem;
    }
}

@media (min-width: 1860px) {
    .imgLeft {
        bottom: -70px;
        left: -140px;
        width: 55rem;
    }

    .imgRight {
        right: -130px;
        width: 52rem;
    }
}

@media (min-width: 2560px) {
    .imgLeft {
        bottom: -70px;
        left: -140px;
        width: 50rem;
    }

    .imgRight {
        right: -130px;
        width: 48rem;
    }
}

@media (max-width: 1075px) {
    .h-screen.container.flex.flex-col.items-center.justify-center {
        margin-top: -40px;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
    .imageTitle {
        width: 28rem;
    }
}

@media (min-width: 1441px) {
    .imageTitle {
        width: 30rem;
    }
}

/* .botoesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 6rem;
}

.botaoSim {
    background-color: #fe3f29;
    color: white;
    padding: 0.4rem 4.4rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botaoSim:hover {
    background-color: #d62839;
}

.botaoNao {
    background-color: #F5B117;
    color: white;
    padding: 0.4rem 4.4rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botaoNao:hover {
    background-color: #d4a129;
} */