.modalExpressao {
    border-radius: 15px !important;
    min-height: 620px;
    max-height: 90vh;
    overflow-y: auto;
    border: 8px solid white;
    padding: 2rem;
}

.infoRegistro {
    width: 50%;
    font-size: 0.9rem;
    color: rgb(56, 56, 56);
}

.topicos {
    color: #465FB9;
    font-weight: bold;
    font-size: 1.3rem;
}

.localizacaoModal {
    width: 135px;
    height: 135px;
}

.estados {
    width: 135px;
}

.estados p {
    line-height: 1;
    color: rgb(56, 56, 56);
    font-weight: 400;
}

.descricao {
    font-size: 0.9rem;
    color: rgb(56, 56, 56);
}

@media (min-width: 1281px) and (max-width: 1440px) {
    .modalExpressao {
        min-height: 620px;
        min-width: 620px;
    }
}

@media (min-width: 1441px) {
    .modalExpressao {
        min-height: 640px;
        min-width: 640px;
    }
}